<strong>Recuperando senha </strong>

<p>---------------------------------------------------</p>

<p>Solicitação de senha para o e-mail ({{ email }})</p>

<p>---------------------------------------------------</p>

<p>
  <a href="https://pizzabreakweb.herokuapp.com/passwords/confirm/{{token}}">Nova Senha!</a>
</p>
