<h2> Ola, {{ name }} </h2>
<p>
  Seja bem Vindo, ao sistema de delivery PizzaBreak,
</p>
<p>
  Aproveite o sistema ao maximo, corre la e realize seu pedido
</p>
<p>
  Teremos o maior prazer em ajudar você.
</p>
<p>
  Nos vemos lah, Equipe. Pizzabreak.
</p>